* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.contain {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 180px; 
}



.me {
  width: 493px;
  height: 464px;
}

.description {
  width: 500px; 
  height: 100px; 
  text-align: justify; 
  margin-left: 50px;
  font-size: 20px; 
}

.containerReturn {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 130px; 
  text-decoration: none; 
}

.return {
  width: 30px;
  height: 30px; 
  transition-property: width height;
  transition-duration: 0.2s;
}

.return:hover {
  width: 40px;
  height: 40px;
}

p {
  color:black;
}
